{% extends 'layout.html' %}
{% block content %}
<!-- contents start -->
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album Project</h1>
        <p class="lead text-muted">by Python in Flask</p>
        <p>
          <a href="{{ url_for('post') }}" class="btn btn-primary my-2">글게시</a>
          <!--a href="#" class="btn btn-secondary my-2"></a-->
        </p>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if 'id' in session  %}
         {% for (id, img_src, comment) in data  %}
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <text x="50%" y="50%" fill="#eceeef" dy=".3em"><img src="./static/img/{{ img_src }}" width="100%" height="400"></text></svg>
            <div class="card-body">
              <p class="card-text">{{ comment }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="#">View</a>
                  <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('post', id=id, img_src=img_src, comment=comment) }} ">Edit</a>
                </div>
                <small class="text-muted">2021-03-15</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else  %}
        {% for post in range(0,3)   %}
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">text</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        {% endfor  %}
        {% endif  %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
<!-- contents end -->
{% block footer %}
{% endblock footer %}
</body>
</html>
