{% extends "layout.html" %}
{% block content %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album Project</h1>
        <p class="lead text-muted">by Python in Flask</p>
        <p>
          <a href="{{ url_for('home') }}" class="btn btn-primary my-2">돌아가기</a>
        </p>
      </div>
    </div>
  </section>
  <!-- content start -->
  <section class="form-signin">
    <div class="album py-5 bg-light">
    <div class="container">
    <form class="form" action="/upload_post" method="post" enctype = "multipart/form-data">
      <div class="form-group">
        <label for="Input" class="form-label">Photo Upload</label>
        <input class="form-control" type="file" id="formFile" accept="image/*" name="imgfile">
        *기존파일: {{img_src}}  <a href="{{ url_for('del_image', id=id, img_src=img_src, comment=comment) }}">삭제</a>
        <input type="hidden" name="old_img" value="{{img_src}}">
      </div>
      <br/>
      <div class="form-group">
        <label for="name">Post Comments</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="comment">{{-comment-}}</textarea>
      </div>
      <br/>
      <input type="hidden" class="form-control" name="id"  value="{{id}}"/>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </div>
  </div>
</section>
  <!-- content end -->
</main>
{% endblock %}
</body>
</html>
