{% extends "layout.html" %}
{% block content %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album Project</h1>
        <p class="lead text-muted">by Python in Flask</p>
        <p>
          <a href="{{ url_for('home') }}" class="btn btn-primary my-2">돌아가기</a>
        </p>
      </div>
    </div>
  </section>
  <!-- content start -->
  <section class="form-signin">
    <main class="form-signin">
      <div class="container">
        <h1>회원수정</h1>
        <br/>
        <form class="new_member_form" action="/update_member" method="post">
          {%  for data in rows %}
          <div class="form-group">
            <label for="name">사용자 아이디  (* 12자 입력)</label>
            <input type="text" class="form-control" placeholder="Enter Username" name="id" maxlength="12" value="{{ data[0] }}" readonly/>
          </div>
          <br/>
          <div class="form-group">
            <label for="name">사용자 비밀번호 (*14자 입력)</label>
            <input type="password" class="form-control" placeholder="Enter Password" name="pw" maxlength="14" value="{{ data[1] }}" />
          </div>
          <br/>
          <div class="form-group">
            <label for="name">사용자 이름</label>
            <input type="text" class="form-control" placeholder="Enter Name" name="name" value="{{ data[2] }}"/>
          </div>
          <br/>
          <div class="form-group">
            <label for="name">이메일</label>
            <input type="email" class="form-control" placeholder="Enter Name" name="email" value="{{ data[3] }}"/>
          </div>
          <br/>
          {%  endfor %}
          <input type="hidden" class="form-control" name="status"  value="update"/>
          <button type="submit" class="btn btn-primary">회원수정</button>
        </form>
        <br/>
      </div>
    </main>
</section>
  <!-- content end -->
{% endblock %}
</body>
</html>
